body{
    /* background-color: #0b0c10; */
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 40px;
    margin-top: 10px;
}
h1,h2{
    text-align: center;
    color: #66F6F1;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Sansita Swashed', cursive;
}

h2{
    font-family: 'Pangolin', cursive;
    letter-spacing: 2px;
    margin-top: 0;
}

.al {
    margin-left: 50px;
}

.contain{
    background-color: #1f2833;
    width: 395px;
    height: 395px;
    float: left;
    margin-left: 15%;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 130px 130px 130px;
}

.box{
    background-color: azure;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
}

.box:nth-of-type(odd){
    background-color: #c5c6c7;
}

.box:nth-of-type(odd):hover{
    background-color: #aeaeaf;
}


.box:hover{
    width: 123px;
    height: 123px;
    background-color: rgb(218, 231, 231);
}

#but,#but2{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #45a29e;
    background-color: #0b0c10;
    color: #c5c6c7;
    width: 150px;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Pangolin', cursive;
}

#but:hover,#but2:hover {
    background-color: #45a29e;
    color: #c5c6c7;
    border: 2px solid black;
}
#bo{
    text-align: center;
}

p{
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 50px;
    color: brown;
}

#alert{
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
    color:#45a29e;

}

table{
    float: left;
    margin-left: 14%;
}
th,td{
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 25px;
    letter-spacing: 2px;
}

td{
    font-size: 30px;
}

.score1{
    text-align: center;
}
.score2{
    text-align: center;
}
